@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@100;200;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Waterfall&family=WindSong&display=swap');

@font-face {
    font-family: BabaPro;
    src: url('./logo-font/BabaPro.ttf');
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Red Hat Display';
}

/*-------------------------------------------------------------------------- HOME */

/*------------------------------------------------------------ HERO SECTION --*/
.hero {
    height: 100%;
    background-image: url(img/home/hero/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    font-family: BabaPro;
    color: white;
    font-size: 50px;
    margin: 0;
    margin-left: 15px;
}

.logo span {
    color: #de9714;
}

.navbar {
    position: relative;
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    margin: 0;
    padding: 0;
    width: 50vw;
    height: calc(100vh - 80px);
    list-style-type: none;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    transform: translateX(100%);
    transition: all .5s ease-in-out;
    z-index: 9999;
}

.open {
    transform: translateX(0%);
}

.navbar ul li {
    margin: 50px 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/*------------------------------- MENU BUTTON MOBILE */

.menu-btn {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn-bars {
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-bars::before, 
.menu-btn-bars::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-bars::before {
    transform: translateY(-14px);
}

.menu-btn-bars::after {
    transform: translateY(14px);
}

.cross .menu-btn-bars {
    background: transparent;
    transform: translateX(-50px);
}

.cross .menu-btn-bars::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.cross .menu-btn-bars::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*------------------------------- HERO ITEMS */

.hero-items {
    color: white;
    margin-left: 30px;
    position: absolute;
    text-align: right;
    margin-top: 30px;
    right: 15px;
}

.hero-items h4 {
    font-size: 24px;
    font-weight: 200;
}

.hero-items h6 {
    font-size: 14px;
    font-weight: 200;
}

.order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgba(222, 151, 20, .5);
    font-weight: 100;
    font-size: 12px;
    margin-left: auto;
    transition: all .5s ease-in-out;
}

.order-btn:hover {
    background-color: #de9714;
}

/*------------------------------------------------------------ WELCOME --*/
.welcome {
    height: 100%;
    width: 100%;
}

.welcome-title {
    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
}

.welcome-title::before {
    height: 100px;
    width: 25%;
    border-bottom: 1px solid #de9714;
}

.welcome-title .logo {
    font-size: 30px;
    color: black;
    margin: 0;
}

.welcome-title .logo span {
    height: 50px;
}

.welcome-title h4 {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

.welcome-title p {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
    margin: 0;
}