@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@100;200;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Waterfall&family=WindSong&display=swap');

@font-face {
    font-family: BabaPro;
    src: url('./logo-font/BabaPro.ttf');
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Red Hat Display';
}

/*-------------------------------------------------------------------------- HOME */

/*------------------------------------------------------------ HERO SECTION --*/
.hero {
    height: 100%;
    background-image: url(img/home/hero/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    font-family: BabaPro;
    color: white;
    font-size: 50px;
    margin: 0;
    margin-left: 15px;
}

.logo span {
    color: #de9714;
}

.navbar {
    position: relative;
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    margin: 0;
    padding: 0;
    width: 50vw;
    height: calc(100vh - 80px);
    list-style-type: none;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    transform: translateX(100%);
    transition: all .5s ease-in-out;
    z-index: 9999;
}

.open {
    transform: translateX(0%);
}

.navbar ul li {
    margin: 50px 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/*------------------------------- MENU BUTTON MOBILE */

.menu-btn {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn-bars {
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-bars::before, 
.menu-btn-bars::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-bars::before {
    transform: translateY(-14px);
}

.menu-btn-bars::after {
    transform: translateY(14px);
}

.cross .menu-btn-bars {
    background: transparent;
    transform: translateX(-50px);
}

.cross .menu-btn-bars::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.cross .menu-btn-bars::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*------------------------------- HERO ITEMS */

.hero-items {
    color: white;
    margin-left: 30px;
    position: absolute;
    text-align: right;
    margin-top: 30px;
    right: 15px;
}

.hero-items h4 {
    font-size: 24px;
    font-weight: 200;
}

.hero-items h6 {
    font-size: 14px;
    font-weight: 200;
}

.order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgba(222, 151, 20, .5);
    font-weight: 100;
    font-size: 12px;
    margin-left: auto;
    transition: all .5s ease-in-out;
}

.order-btn:hover {
    background-color: #de9714;
}

/*------------------------------------------------------------ WELCOME --*/
.welcome {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.welcome-title {
    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.welcome-title::after {
    position: absolute;
    content: "";
    width: 40%;
    bottom: -12px;
    left: 55px;
    border-bottom: 1px solid #de9714;
}

.welcome-title .logo {
    height: 60px;
    font-size: 42px;
    color: black;
    margin: 0;
}

.welcome-title h4 {
    font-size: 35px;
    font-weight: 200;
    margin: 0;
}

.welcome-title p {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 0;
}

.welcome-intro {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
    color: #474747;
}

.welcome-content {
    height: auto;
}

.welcome-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-img {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.welcome1 {
    background-image: url(img/home/welcome/restaurant-1.jpg);
}

.welcome2 {
    background-image: url(img/home/welcome/restaurant-2.jpg);
}

.welcome-text {
    width: 90%;
    font-size: 14px;
    color: #474747;
    text-align: justify;
    margin: 25px 0;
}

.welcome-text p {
    margin: 0;
}

.text-full-width {
    display: none;
}

/*------------------------------------------------------------ OUR RESTAURANT --*/
.our-restaurant {
    width: 100%;
    height: auto;
}

.our-restaurant-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.our-restaurant-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 120px;
    border-bottom: 1px solid #de9714;
}

.our-restaurant-title h4 {
    margin: 0;
    font-size: 35px;
    font-weight: 200;
}

.our-restaurant-intro {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
    color: #474747;
}

.our-restaurant-content {
    height: auto;
    padding-bottom: 50px;
}

.restaurant-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 95%;
    height: 240px;
    margin: auto;
    margin-bottom: 7px;
}

.restaurant1 {
    background-image: url(img/home/our-restaurant/table.jpg);
}

.restaurant2 {
    background-image: url(img/home/our-restaurant/food.jpg);
}

.restaurant3 {
    background-image: url(img/home/our-restaurant/lights.jpg);
}

.restaurant4 {
    background-image: url(img/home/our-restaurant/alcohol.jpg);
}

/*------------------------------------------------------------ KNOW OUR MENU --*/
.know-menu {
    background-image: url(img/home/know-menu/wine.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */

    height: 300px;
    width: 100%;
}

.know-content {
    position: absolute;
    top: 80px;
    right: 40px;
}

.know-menu-text {
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
}

.view-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------------------------------ OWNER --*/
.owner {
    width: 100%;
    height: auto;
}

.owner-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.owner-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 115px;
    border-bottom: 1px solid #de9714;
}

.owner-title h4 {
    margin: 0;
    font-size: 35px;
    font-weight: 200;
}

.owner-content {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 50px;
}

.owner-img {
    width: 100%;
    height: 250px;
    background-image: url(img/home/owner/owner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.owner-container .signature {
    font-family: WindSong, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.owner-content p {
    text-align: justify;
}