@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:wght@100;200;300;400&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Waterfall&family=WindSong&display=swap');

@font-face {
    font-family: BabaPro;
    src: url('./logo-font/BabaPro.ttf');
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Red Hat Display';
}

/*-------------------------------------------------------------------------- HOME */

/*------------------------------------------------------------ HERO SECTION --*/
.hero {
    height: 100%;
    background-image: url(img/home/hero/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    font-family: BabaPro;
    color: white;
    font-size: 50px;
    margin: 0;
    margin-left: 15px;
}

.logo span {
    color: #de9714;
}

.navbar {
    position: relative;
}

.menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    margin: 0;
    padding: 0;
    width: 50vw;
    height: calc(100vh - 80px);
    list-style-type: none;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    transform: translateX(100%);
    transition: all .5s ease-in-out;
    z-index: 9999;
}

.open {
    transform: translateX(0%);
}

.navbar ul li {
    margin: 50px 0;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/*------------------------------- MENU BUTTON MOBILE */

.menu-btn {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn-bars {
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-bars::before, 
.menu-btn-bars::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-bars::before {
    transform: translateY(-14px);
}

.menu-btn-bars::after {
    transform: translateY(14px);
}

.cross .menu-btn-bars {
    background: transparent;
    transform: translateX(-50px);
}

.cross .menu-btn-bars::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.cross .menu-btn-bars::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*------------------------------- HERO ITEMS */

.hero-items {
    color: white;
    margin-left: 30px;
    position: absolute;
    text-align: right;
    margin-top: 20px;
    right: 15px;
}

.hero-items h4 {
    font-size: 24px;
    font-weight: 200;
}

.hero-items h6 {
    font-size: 15px;
    font-weight: 200;
}

.hero-items .order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgba(222, 151, 20, .5);
    font-weight: 100;
    font-size: 12px;
    margin-left: auto;
    transition: all .5s ease-in-out;
}

.order-btn:hover {
    background-color: #de9714;
}

/*------------------------------------------------------------ WELCOME --*/
.welcome {
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.welcome-title {
    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.welcome-title::after {
    position: absolute;
    content: "";
    width: 40%;
    bottom: -12px;
    left: 55px;
    border-bottom: 1px solid #de9714;
}

.welcome-title .logo {
    height: 60px;
    font-size: 42px;
    color: black;
    margin: 0;
}

.welcome-title h4 {
    font-size: 35px;
    font-weight: 200;
    margin: 0;
}

.welcome-title p {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 0;
}

.welcome-intro {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 15px;
    text-align: center;
    color: #474747;
}

.welcome-content {
    height: auto;
}

.welcome-history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-img {
    width: 90%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.welcome1 {
    background-image: url(img/home/welcome/restaurant-1.jpg);
}

.welcome2 {
    background-image: url(img/home/welcome/restaurant-2.jpg);
}

.welcome-text {
    width: 90%;
    font-size: 15px;
    color: #474747;
    text-align: justify;
    margin: 25px 0;
}

.welcome-text p {
    margin: 0;
}

.text-full-width {
    display: none;
}

/*------------------------------------------------------------ OUR RESTAURANT --*/
.our-restaurant {
    width: 100%;
    height: auto;
}

.our-restaurant-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.our-restaurant-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 120px;
    border-bottom: 1px solid #de9714;
}

.our-restaurant-title h4 {
    margin: 0;
    font-size: 35px;
    font-weight: 200;
}

.our-restaurant-intro {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 15px;
    text-align: center;
    color: #474747;
}

.our-restaurant-content {
    height: auto;
    padding-bottom: 50px;
}

.restaurant-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 95%;
    height: 240px;
    margin: auto;
    margin-bottom: 7px;
}

.restaurant1 {
    background-image: url(img/home/our-restaurant/table.jpg);
}

.restaurant2 {
    background-image: url(img/home/our-restaurant/food.jpg);
}

.restaurant3 {
    background-image: url(img/home/our-restaurant/lights.jpg);
}

.restaurant4 {
    background-image: url(img/home/our-restaurant/alcohol.jpg);
}

/*------------------------------------------------------------ KNOW OUR MENU --*/
.know-menu {
    background-image: url(img/home/know-menu/wine.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* background-attachment: fixed; */

    height: 300px;
    width: 100%;
}

.know-content {
    position: absolute;
    top: 80px;
    right: 40px;
}

.know-menu-text {
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
}

.view-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background-color: black;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*------------------------------------------------------------ OWNER --*/
.owner {
    width: 100%;
    height: auto;
}

.owner-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.owner-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 115px;
    border-bottom: 1px solid #de9714;
}

.owner-title h4 {
    margin: 0;
    font-size: 35px;
    font-weight: 200;
}

.owner-content {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 50px;
}

.owner-img {
    width: 100%;
    height: 250px;
    background-image: url(img/home/owner/owner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.owner-container .signature {
    font-family: WindSong, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.owner-content p {
    text-align: justify;
    color: #474747;
    font-size: 15px;
}

/*------------------------------------------------------------ FOOTER --*/
footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: #fff;
}

.footer-content {
    width: 100%;
    margin: auto;
}

.footer-content .logo {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.footer-content .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-weight: 200;
}

.footer-title {
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0;
}

.about-us p {
    padding-left: 15px;
}

.contact-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.email-icon {
    background-image: url(img/home/footer/mail.svg);
    height: 15px;
}

.phone-icon {
    background-image: url(img/home/footer/phone.svg);
}

.location-icon {
    background-image: url(img/home/footer/location.svg);
}

.instagram {
    text-align: center;
}

.instagram-images {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.instagram-img {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
}

.instagram1 {
    background-image: url(img/home/footer/insta-1.jpg);
}

.instagram2 {
    background-image: url(img/home/footer/insta-2.jpg);
}

.instagram3 {
    background-image: url(img/home/footer/insta-3.jpg);
}

.instagram4 {
    background-image: url(img/home/footer/insta-4.jpg);
}

.instagram5 {
    background-image: url(img/home/footer/insta-5.jpg);
}

.instagram6 {
    background-image: url(img/home/footer/insta-6.jpg);
}

.copy {
    margin-top: 50px;
    font-size: 10px;
    font-weight: 200;
}

.copyright {
    text-align: center;
    margin-bottom: 10px;
}

.copy-items {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.copy-item {
    padding: 0 15px;
}

.copy-item:nth-child(1), 
.copy-item:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, .5);
}

/*-------------------------------------------------------------------------- TEAM */

/*------------------------------------------------------------ TEAM HERO --*/
.team-hero {
    height: 500px;
    width: 100%;
    background-image: url(img/team/hero/team-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.team-items {
    position: absolute;
    right: 50px;
    bottom: 40px;
    text-align: center;
    color: #fff;
}

.team-opacity {
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.team-items .order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgba(222, 151, 20, .5);
    font-weight: 100;
    font-size: 12px;
    margin: auto;
    transition: all .5s ease-in-out;
}

.team-items h4 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0;
}

.team-items h6 {
    font-size: 17px;
    font-weight: 200;
    margin: 0;
    margin-bottom: 25px;
}

/*------------------------------------------------------------ MATTER OF COOKING --*/
.matter-cooking {
    width: 100%;
}

.cooking-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.cooking-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 115px;
    border-bottom: 1px solid #de9714;
}

.cooking-title h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 200;
}

.cooking-container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

.cooking-content {
    width: 100%;
}

.cooking-content p {
    font-size: 15px;
    color: #474747;
    text-align: justify;
}

.cooking-img {
    width: 100%;
    height: 220px;
    margin: 20px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cooking-food {
    background-image: url(img/team/cooking/cooking-food.jpg);
}

.cooking-team {
    background-image: url(img/team/cooking/kitchen-team.jpg);
}

/*------------------------------------------------------------ EVERY DETAIL COUNTS --*/
.every-detail {
    background-image: url(img/team/every-detail/evey-detail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 50%;

    position: relative;
    height: 400px;
    width: 100%;
}

.detail-text {
    position: absolute;
    bottom: 55px;
    left: 45px;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}

.detail-text span {
    color: #de9714;
}

/*------------------------------------------------------------ MEET THE CHEF --*/
.chef {
    height: auto;
    width: 100%;
}

.chef-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.chef-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 110px;
    border-bottom: 1px solid #de9714;
}

.chef-title h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 200;
}

.chef-content {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

.chef-content p {
    text-align: justify;
    color: #474747;
    font-size: 15px;
    margin-bottom: 25px;
}

.chef-img {
    background-image: url(img/team/chef/chef-3.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 220px;
}

.chef-signature {
    font-family: Waterfall, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
}

/*------------------------------------------------------------ ALL STAFF --*/
.staff {
    width: 100%;
    height: auto;
}

.staff-title {
    margin: auto;
    width: 90%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.staff-title::after {
    position: absolute;
    content: "";
    width: 30%;
    bottom: -12px;
    left: 110px;
    border-bottom: 1px solid #de9714;
}

.staff-title h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 200;
}

.staff-container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.staff-item {
    box-sizing: border-box;
    height: 350px;
    width: 320px;
    margin-bottom: 50px;
}

.upside-part {
    height: 30%;
    background-color: black;
}

.middle-part {
    box-sizing: border-box;
    position: relative;
    height: 55%;
    border-left: 1px solid #474747;
    border-right: 1px solid #474747;
}

.down-part {
    height: 15%;
    background-color: #b5b5b5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.staff-img {
    position: absolute;
    top: -65px;
    left: 95px;
    background-size: contain;
    background-repeat: no-repeat;

    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.staff-description {
    text-align: center;
    padding-top: 100px;
}

.staff-description h6 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #de9714;
}

.staff-description p {
    font-size: 16px;
}

.staff1 {
    background-image: url(img/team/staff/staff-1.jpg);
}

.staff2 {
    background-image: url(img/team/staff/staff-2.jpg);
}

.staff3 {
    background-image: url(img/team/staff/staff-3.jpg);
}

.staff4 {
    background-image: url(img/team/staff/staff-4.jpg);
}

.down-part img {
    color: #fff;
    height: 20px;
    margin: 0 20px;
}
